@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css */

html {
  scrollbar-width:none;
  scrollbar-color: black black;
}
/* 
html::-webkit-scrollbar {
  width: 8px; 
}

html::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color *//*
}

html::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color *//*
  border-radius: 4px; /* Scrollbar thumb rounded corners *//*
  border: 2px solid #f1f1f1; /* Space around scrollbar thumb *//*
}

html::-webkit-scrollbar-thumb:hover {
  background: black; /* Scrollbar thumb hover color *//*
}



 */
